// Colours
$bodyColour: #46412A;
$headingColour: darken($bodyColour, 5%);
$linkColour: #4a4abe;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fdf4f4;

$backgroundColour: #ffffff;
$codeBackgroundColour: darken($backgroundColour, 5%);
